$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.yourDataContainer {
    .section:not(:last-child) {
        padding-bottom: 5%;
    }

    .section:not(:first-child) {
        padding-top: 5%;
    }

    .FirstPanel {
        .Content {
            h2 {
                color: $dark-color;
            }

            p {
                color: $dark-color;
                text-align: left;
            }

            #DataUnderline {
                background-image: url("../../Assets/PNG/DUnderline.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0% 100%;
            }
        }

        @media screen and (max-width: 768px) {
            .Content {
                grid-row: 2;
            }
        }
    }

    .SecondPanel {
        display: flex;
        justify-content: center;

        .Content {
            align-items: center;
            width: 100%;

            h2 {
                color: $dark-color;
            }

            #SponsorUnderline {
                background-image: url("../../Assets/PNG/DUnderline.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0% 100%;
            }

        }

        .ImageGrid {
            width: 100%;
            padding: 2% 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        @media screen and (max-width: 768px) {
            .ImageGrid {
                flex-direction: column;
                gap: 4em;
            }
        }
    }

}