$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.extensionContainer {
    background-color: #043873;

    .section {
        #ExtensionUnderLine {
            background-image: url("../../Assets/PNG/EUnderline.png");
            background-repeat: no-repeat;
            background-size: 110%;
            background-position: 200% 160%;
        }

    }

}