$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.workContainer {
    background-color: $primary-color;

    background-image: url("../../Assets/PNG/Round.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 0 50%;

    .section {
        display: flex;
    }

    .Content {
        color: $light-color;
        flex-direction: column;
        align-items: center;
        margin: 0 10%;


        p {
            text-align: center;
        }

        #YouAreUnderline {
            background-image: url("../../Assets/SVG/YEUnderline.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0% 100%;
        }
    }
}