$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.workContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;

    background-image: url("../../Assets/PNG/Round.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: 0 50%;

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $light-color;


        h2 {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            padding: 0 20px;
            margin-bottom: 1rem;
            text-align: center;
        }

        button {
            width: fit-content;
            margin-top: 1rem;
            padding: 10px 20px;
            background-color: $secondary-color;
            color: $light-color ;
            border: none;
            border-radius: 3px;
        }

        #YouAreUnderline {
            background-image: url("../../Assets/SVG/YEUnderline.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: 0% 100%;
        }
    }
}