$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.workManagementContainer {
    background-color: #FFFFFF;

    background-image: url("../../Assets/PNG/Round.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 0 30%;

    .section:not(:last-child) {
        padding-bottom: 5%;
    }

    .section:not(:first-child) {
        padding-top: 5%;
    }

    .Project,
    .Work {
        .Content {
            h2 {
                color: $dark-color;
            }

            p {
                color: $dark-color;
            }

            button {
                background-color: $secondary-color;
                color: $light-color ;
            }

            #ProjectManagementUnderline {
                background-image: url("../../Assets/PNG/PUnderline.png");
                background-repeat: no-repeat;
                background-size: 150%;
                background-position: 0 100%;
            }

            #WorkTogetherUnderline {
                background-image: url("../../Assets/PNG/WUnderline.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0 100%;
            }
        }

    }

}