$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.workManagementContainer {
    background-color: #FFFFFF;

    .Project {
        background-image: url("../../Assets/PNG/Round.png");
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: 0 50%;
    }

    .Project,
    .Work {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .Content {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: $dark-color;
                font-size: 3rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            p {
                color: $dark-color;
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }

            button {
                width: fit-content;
                margin-top: 10px;
                padding: 10px 20px;
                background-color: $secondary-color;
                color: $light-color ;
                border: none;
                border-radius: 3px;
            }

            #ProjectManagementUnderline {
                background-image: url("../../Assets/PNG/PUnderline.png");
                background-repeat: no-repeat;
                background-size: 150%;
                background-position: 0 100%;
            }

            #WorkTogetherUnderline {
                background-image: url("../../Assets/PNG/WUnderline.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: 0 100%;
            }
        }

        .Illustration {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }

    }

    .Work .Illustration {
        justify-content: flex-start;

        img {
            width: 75%;
        }
    }
}