$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.pricingContainer {
    .section {
        display: flow-root;

        .Content {
            align-items: center;

            h2 {
                color: $dark-color;
            }

            p {
                color: $dark-color;
            }
        }

        .Pricing {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            gap: 3em;

            .PricingCard {
                padding: 25px;
                border-radius: 10px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                height: fit-content;
                width: fit-content;
                background-color: $light-color;
                color: $dark-color;

                h4 {
                    color: $dark-color;
                    font-size: 1.5rem;
                    margin: 1rem 0;
                }

                h3 {
                    color: $dark-color;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                p {
                    color: $dark-color;
                    font-size: 1rem;
                    font-weight: 500;
                }

                button {
                    margin-top: 1rem;
                    color: $dark-color ;
                    background-color: $light-color;
                    border: 1px solid $lightYellow;
                }

                .list {
                    p {
                        font-size: 1rem;
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                        display: flex;
                    }

                    p::before {
                        content: url("../../Assets/SVG/Check.svg");
                        padding-right: 5px;
                    }
                }


            }

            /* .PricingCard:hover {
            height: 650px;
            background-color: $primary-color;
            color: $light-color;
            transition: height 300ms ease-in-out;

            h3 {
                color: $lightYellow;
            }


            button {
                color: $light-color;
                background-color: $secondary-color;
                border: none;
            }

            .list {
                p::before {
                    filter: invert(100%);
                }
            }
        } */



            .PricingCard:nth-child(2) {
                padding: 50px 25px;
                background-color: $primary-color;
                color: $light-color;

                button {
                    color: $light-color ;
                    background-color: $secondary-color;
                    border: none;
                }

                h4 {
                    color: $light-color
                }

                h3 {
                    color: $lightYellow;
                }

                p {
                    color: $light-color;
                }

                .list {
                    p::before {
                        filter: invert(96%) sepia(417%) saturate(208%) hue-rotate(329deg) brightness(100%) contrast(100%);
                        ;
                    }
                }
            }

        }

        #PlanUnderline {
            background-image: url("../../Assets/PNG/EUnderline.png");
            background-repeat: no-repeat;
            background-size: 140%;
            background-position: 50% 210%;
        }

    }
}


@media screen and (max-width: 768px) {
    .pricingContainer {
        .section {
            .Pricing {
                .PricingCard {
                    width: 220px;
                }
            }
        }
    }
}