.navContainer {
    background-color: #043873;

    .section {
        padding: 2% 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                height: 20px;
            }
        }

        .menu {
            display: flex;

            .items {
                display: flex;

                .item {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 2px;

                    p {
                        font-weight: 500;
                        margin-bottom: 0%;
                    }

                    img {
                        width: 40px;
                    }
                }
            }

            .collapse {
                display: none;
            }

            .button-group {
                display: flex;
                align-items: center;
                padding: 0 10px;
                gap: 10px;


                button {
                    margin-top: 0;
                }

                button:nth-child(1) {
                    background-color: #FFE492;
                    color: #212529;
                }

                button:nth-child(2) {
                    background-color: #4F9CF9;
                    color: #FFFFFF;
                }

            }

        }
    }

}

@media screen and (max-width: 1152px) {
    .navContainer {
        .section {
            .menu {
                .items {
                    display: none;
                }

                .collapse {
                    display: flex;

                    button {
                        background-color: transparent;
                        border: none;
                        color: #FFFFFF;
                        margin: 0;
                        padding: 0;
                    }

                    img {
                        width: 30px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navContainer {
        .section {
            .menu {
                .items {
                    display: none;
                }

                .button-group {
                    display: none;
                }
            }
        }
    }
}