$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.customizationContainer {
    background-color: $light-color;
    border-bottom: 0.5px solid #0000000a;

    .section {
        .Content {

            h2 {
                color: $dark-color;
            }

            p {
                color: $dark-color;
            }

        }

        #CustomizeUnderLine {
            background-image: url("../../Assets/PNG/CUnderline.png");
            background-repeat: no-repeat;
            background-size: 160%;
            background-position: 0% 100%;
        }

    }

}


@media screen and (max-width: 768px) {
    .customizationContainer {
        .section {
            .Content {
                grid-row: 2;
            }
        }
    }
}