$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.softwareContainer {
    background-color: $primary-color;
    color: $light-color;
    background-image: url("../../Assets/PNG/Wave.png");
    background-repeat: no-repeat;

    .section {
        align-items: center;
    }
}