$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.container {
    padding: 0 10%;
    height: max-content;
    background-color: $light-color;
    color: $dark-color;

    h2 {
        color: $light-color;
        font-weight: 700;
        font-size: 4rem;
        line-height: 4.183rem;
        letter-spacing: -0.02em;

        margin-bottom: 1rem;
    }

    p {
        color: $light-color;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.875rem;
        letter-spacing: -0.02em;
    }

    button {
        background-color: $secondary-color;
        color: $light-color ;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.438rem;
        width: fit-content;
        padding: 20px;
        border: none;
        border-radius: 8px;
        margin-top: 2rem;
    }

    .section {
        padding: 10% 0;

        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;


        .Content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        .primaryImages {
            display: flex;
            justify-content: space-evenly;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        .secondaryImages {
            display: flex;
            justify-content: center;
            margin: 0 5%;

            img {
                height: auto;
                max-width: 100%;
            }
        }

        .subSection:not(:last-child) {
            padding-bottom: 5%;
        }
    }
}

@media screen and (max-width: 1400px) {
    .container {
        padding: 0 2%;

        .section {
            padding: 5% 0;

            .subSection:not(:last-child) {
                padding-bottom: 5%;
            }
        }

    }
}

@media screen and (max-width: 1152px) {
    .container {
        .section {
            .primaryImages {}
        }
    }

}



@media screen and (max-width: 768px) {
    .container {
        h2 {
            font-size: 3.375rem;
            line-height: 4.063rem;
        }

        button {
            padding: 20px 40px;
        }

        .section {
            grid-template-columns: 1fr;

            .Content {
                grid-row: 1;
            }

            .primaryImages {
                margin: 5% 0;
            }

            .secondaryImages {
                margin: 5% 0;
                max-width: 75%;
            }

            .Content {
                align-items: center;
                text-align: center;
                margin: 5% 0;
            }

            .subSection:not(:last-child) {
                padding-bottom: 5%;
            }

        }

    }
}

@media screen and (max-width: 320px) {
    .container {
        h2 {
            font-size: 2.25rem;
            line-height: 2.75rem;
        }

        .section {}
    }
}