$primary-color: #043873;
$secondary-color: #4F9CF9;

$lightYellow: #FFE492;
$lightBlue: #A7CEFC;
$light-color: #FFFFFF;
$dark-color: #212529;

.HeroContainer {
    background-color: $primary-color;
    background-image: url("../../Assets/PNG/Lines.png");
    background-repeat: no-repeat;
}